{% extends 'index.html' %}
{% block content1 %}       
        {% if t=='s' %}
            <center>
            <div>
                <h5 style="color:rgd(72,10,72);font-family:'Comic Sans MS'">Sorry! This Recipe is not in our database. Please check if you spelled it correct.</h5>
                <h5 style="color:rgd(72,10,72);font-family:'Comic Sans MS'">Or try with another Recipe.</h5>
            </div>
            </center>
            
            <br>
            <br>
          {% else %}
          <center>
              <div>
                <h5 style="color:rgd(72,10,72);font-family:'Comic Sans MS'">"{{rec}}" is a great choice.</h5>
                <h5 style="color:rgd(72,10,72);font-family:'Comic Sans MS'">Here are some more like this</h5>
              </div>

                <ul class="list-group list-group-flush">
                  {% for m in r %}
                    <li class="list-group-item" style="color:rgb(72, 10, 72)"><strong>{{m|capitalize}}</strong></li>
                  {% endfor %}
                </ul>
            </center>
            <br>
    
          {% endif %}
{% endblock %}
